* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: inherit;
    box-sizing: inherit;
    font-weight: inherit;
}

html {
    font-family: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Oxygen-Sans,Arial,sans-serif;
    min-height: 100%;
    box-sizing: border-box;
    overflow-y: scroll;
    text-rendering: optimizeLegibility;
    line-height: 20px;
    color: #555;
    -webkit-font-feature-settings: "kern","kern";
    font-feature-settings: "kern","kern";
    -webkit-font-kerning: normal;
    font-kerning: normal;
    font-size: 14px;
}

body {
    width: 2900px;
}

table {

}

tr {
    border-bottom: 1px solid #d1d1d1;
}

th {
    font-weight: bolder;
}

td {
    padding-left: 10px;
}

input, select, div, button {
    line-height: inherit;
    font-family: inherit;
    font-size: 100%;
    font-weight: medium;
}

input {
    width: 100%;
    height: 100%;
    padding-left: 15px;
}

.description-div {
    height: 30px;
    overflow-y: scroll;
    width: 100%;
    resize: vertical;
    padding-right: 5px;
}

.author_name {
    color: #30AABC;
}

.agent_class .author_name {
    text-align: right;
}

.agent_class {
    float: right;
}

.requester_class, .agent_class {
    width: 100%;
}

.requester_class .author_comment {
    background-color: #00303C !important;
    color: #ffffff;
    border-radius: 5px;
    margin-top: 5px;
    padding: 5px;
}

.agent_class .author_comment {
    float: right;
    background-color: #f79a3e !important;
    color: #ffffff;
    border-radius: 5px;
    margin-top: 5px;
    padding: 5px;
}

.author_comment {
    margin-bottom: 10px;
    width: 70%;
}

.author_files {
    background-color: #f1f1f1;
    border-radius: 5px;
    display: block;
    padding: 5px 5px 5px;
    margin: 5px 0%;
}

select {
    height: 100%;
    width: 100%;
    padding-left: 15px;
}

.comment_text {
    height: 30px !important;
    border: 2px solid #30AABC;
    border-radius: 5px;
    width: 80%;
}

a {
    color: #30aabc;
    text-decoration: none;
}

button {
    cursor: pointer;
}

input:focus, select:focus {
    outline: none;
    border-bottom: 2px solid #30AABC;
}

.selection {
    width: 1%;
    margin-right: 10px;
}

th.selection {
    padding-top: 0px !important; 
}

td.selection {
    padding-left: 0px;
}

th.selection:hover {
    background: #ff0000 !important;
    cursor: pointer;
}

input.selection {
    width: 12px;
    margin-left: 8px;
    margin-right: 8px;
}

.id {
    width: 6%;
}

.name {
    width: 8%;
}

.phone {
    width: 8%;
    color: #909090;
}

.email {
    width: 10%;
    color: #909090;
}

.subject {
    width: 12%;
    padding-left: 0 !important;
}

.status {
    width: 8%;
    padding-left: 0px !important;
}

.type {
    width: 6%;
    padding-left: 0px !important;
}

.description {
    width: 20%;
    color: #909090;
}

.assets {
    width: 10%;
    height: 30px;
}

.comment {
    float: right;
    margin: 0 5px;
    padding: 4px 8px;
    color: #f1f1f1;
    background-color: #00303C;
    border-radius: 4px;
}

.assets_div {
    /* resize: inherit; */
    height: 30px;
    overflow-y: scroll;
    width: 100%;
    resize: vertical;
    padding-right: 5px;
}

.tags {
    width: 10%;
    padding-left: 0px !important;
}

.shift_button {
    background-color: #30AABC;
    color: #fff;
    border: 2px solid;
    border-radius: 14px;
    padding-bottom: 3px;
    margin-bottom: 3px;
    margin-top: -3px;
    padding: 3px 0px 5px 0px;
}

.left {
    float: left;
    font-size: 12px;
    width: 28px;
}

.lefter {
    float: left;
    margin-right: 5px;
    margin-left: 5px;
    width: 28px;
    padding-top: 0px;
    font-size: 17px;
    padding-bottom: 2px;
}

.right {
    float: right;
    font-size: 12px;
    width: 28px;
    margin-right: 5px;
}

.righter {
    width: 28px;
    padding-left: 0px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 2px;
    float: right;
    margin-right: 5px;
}

.closed {
    color: #909090;
}

#tickets_data {
    border-collapse: collapse;
    width: 100%;
}

#tickets_data td, #tickets_data th {
    border: 1px solid #ddd;
}

#tickets_data tr:nth-child(even){
    background-color: #f2f2f2;
}

#tickets_data tr:nth-child(even) input, #tickets_data tr:nth-child(even) select,#tickets_data tr:nth-child(even) div {
    background-color: #f2f2f2;
}

#tickets_data tr:nth-child(odd) div {
    background-color: #fff;
}

#tickets_data tr:hover {
    background-color: #ddd;
}

#tickets_data tr:hover input, #tickets_data tr:hover select,#tickets_data tr:hover div {
    background-color: #ddd;
}

#tickets_data th {
    padding: 2px;
    padding-top: 8px;   
    background-color: #30AABC;
    color: white;
}

.comment_button:active {
    background-color: #006984
}